*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
html{
    font-size: 15px;
}
body{
    background-color: hsl(212, 45%, 89%);
}
.container{
    width: 340px;
    margin: 90px auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 20px 10px rgb(0,0,0,0.9);
}
img{
    border-radius:10px;
}
h1,p{
    text-align: center;
    /* text-decoration: underline; */
}
a{
    text-decoration:none; 

}
h1{
    font-size: 1.5rem;
    /* text-shadow: 10px 10px 5px rgb(0,0,0,0.9); */
}
p{
    font-size: 1rem;
    color: hsl(218, 44%, 22%);
    font-weight: 100;
}